.footer {
    display: flex;
    justify-content: center;
    margin: 3em 0 8em 0;
}

.footer-icon-box {
    padding: 1em;
    margin-inline: 6em;
}

.footer-icon {
    height: calc(40px + 5vw);
    height: 12em;
    width: auto;
    font-display: none;
    color: darkgray;
}
.footer-icon:hover{
    color: aliceblue;
}