.footer {
  display: flex;
  justify-content: space-around;
  margin: 1em auto 1.5em auto;
  max-width: 1080px;
}

.footer-icon-box {
  padding: 1em;
}

.footer-icon {
  height: 12vw;
  max-height: 100px;
  width: auto;
  font-display: none;
  color: darkgray;
}
.footer-icon:hover {
  color: aliceblue;
}
