.footer {
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
}

.footer-icon-box {
    padding: 1rem;
    margin-inline: 3rem;
}

.footer-icon {
    height: 5rem;
    width: auto;
    font-display: none;
    color: darkgray;
}
.footer-icon:hover{
    color: aliceblue;
}