.header {
  display: flex;
  /* flex: 1; */
  /* opacity: 0; */
  height: 20em;
  /* width: auto; */
  /* max-width: 80vw; */

  padding-top: 10em;
  padding-bottom: 1em;
  justify-content: center;
}

.header-image {
  height: 18em;
}
