.header {
    display: flex;
    flex: 1;
    opacity: 0;
    max-height: 12em;
    width: auto;

    padding-top: 5em;
    padding-bottom: 1em;
    justify-content: center;
}

h1 {
    font-size: 6em;
}