.navbar {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 2em;
}

.nav-bg{
    position: fixed;
    height: min(6em, 10vw);
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: #111;
}


.nav-main {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    color: darkgray;

    font-size: 1.4em;
    text-decoration: none;
    justify-self: baseline;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    white-space: nowrap;
}
.nav-main:hover {
    color: azure;
}
h1.nav-main {
    display: inline-flex;
}

.nav-logo {
    width: min(4.5em, 10vw);
    height: auto;
    margin-right: 2vw;
}

nav {
    flex: 1;
}
ul {
    display: inline-flex;
    padding: 0;
}
li {
    display: inline-block;
    text-align: center;
}


.nav-link {
    flex: 1;
    min-width: 0;
    width: fit-content;
    height: fit-content;
    color: darkgray;
    text-decoration: none;
    text-align: center;

    padding: 0 1vw;

    white-space: nowrap;
}
.nav-link:hover {
    color:aliceblue;
    text-decoration: underline;
}